* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #d85f1a;
}

html {
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo 1 rem = 10px */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 10000px;
}

/* ========================= Common ========================= */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-style: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background-color: #171100;
}

.btn:hover {
  opacity: 0.9;
}

.main-content {
  width: 1170px;
  min-width: calc(100% - 360px);
  margin-left: auto;
  margin-right: auto;
}

/* ========================= Header ========================= */
.header {
  background-color: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ========================= Hero ========================= */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/* ========================= Hero Left ========================= */

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  width: 270px;
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  background-color: #fed5b1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.86;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* ========================= Hero right ========================= */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
}

.hero .desc {
  margin-top: 22px;
  font-style: 1.8rem;
  line-height: 1.67;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero .cta-group .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  min-width: 180px;
  border-radius: 40px;
  padding: 4px 0;
  border: 1px solid #171100;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28px;
  cursor: pointer;
}

.hero .watch-video img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-style: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.desc .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 15px;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* ========================= Popular ========================= */
.popular {
  padding: 65px 0;
  background-color: #ff9c62;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.popular-top .control-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
  background-color: #171100;
  cursor: pointer;
}
