* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #d85f1a;
}

html {
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo 1 rem = 10px */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 10000px;
}

/* ========================= Common ========================= */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-style: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background-color: #171100;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.main-content {
  width: 1170px;
  min-width: calc(100% - 100%);
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}
/* ========================= Header ========================= */
.header {
  background-color: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ========================= Hero ========================= */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/* ========================= Hero Left ========================= */

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  width: 270px;
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  background-color: #fed5b1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.86;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* ========================= Hero right ========================= */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
}

.hero .desc {
  margin-top: 22px;
  font-style: 1.8rem;
  line-height: 1.67;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero .cta-group .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  min-width: 180px;
  border-radius: 40px;
  padding: 4px 0;
  border: 1px solid #171100;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28px;
}

.hero .watch-video:hover {
  background-color: black;
  cursor: pointer;
}

.hero .watch-video:hover span {
  color: white;
}

.hero .watch-video img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-style: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.desc .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 15px;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* ========================= Popular ========================= */
.popular {
  padding: 65px 0;
  background-color: #ff9c62;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.popular-top .control-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
  background-color: #171100;
  cursor: pointer;
}

.popular .course-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #e2dfda;
}

.popular .course-item:hover {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.popular .course-item .thumb {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .head .title a {
  color: var(--font-heading);
  font-style: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .rating .star {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.popular .rating .value {
  margin-left: 6px;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: var(--font-heading);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  background-color: var(--primary-color);
}

/* ========================= Feedback ========================= */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #2e2100;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.feedback-item .info .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}

.feedback-item .info .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;
  cursor: pointer;
}

.feedback-item .info .dots .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}

.feedback-item .content {
  width: 66%;
}

.feedback-item .content .open-quotes {
  color: #644700;
}

.feedback-item .content blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}

/* ========================= Features 1 ========================= */
.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}
.features .images {
  display: flex;
  gap: 30px;
}

.features .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}

.features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background-color: #f52b37;
}

/* ========================= Features 2 ========================= */
.features-2nd {
  margin-top: 70px;
}

.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
}

.features-2nd .cta-btn {
  background-color: #2c5fcc;
}

/* ========================= Blogs ========================= */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #fffcf4;
}

.blogs .blog-top {
  text-align: center;
}

.blogs .blog-top .desc {
  margin-top: 16px;
  width: 448px;
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75;
  display: inline-block;
}

.blogs .blog-list {
  width: 100%;
  display: flex;
  margin-top: 55px;
  gap: 30px;
  overflow: hidden;
}

.blogs .item {
  width: calc(33.33% - 20px);
  background-color: #fff;
  flex-shrink: 0;
}

.blogs .item:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blogs .item .thumb {
  width: 370px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.blogs .item .info {
  padding: 20px 20px 28px;
}

.blogs .info .date {
  position: relative;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
  display: inline-flex;
  align-items: center;
  padding-bottom: 12px;
}

.blogs .info .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 4px;
}

.blogs .info .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  right: -27px;
  height: 1px;
  background-color: #e2dfda;
  border-radius: 0.5px;
}

.blogs .info .title {
  margin-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blogs .info .btn {
  margin-top: 12px;
  font-size: 1.4rem;
}

.blogs .info .btn:hover {
  background-color: var(--primary-color);
}

.blogs .dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 38px;
}

.blogs .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #5f5b53;
  cursor: pointer;
}

.blogs .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}
